.background {
    background: rgb(50, 5, 5);
    background: linear-gradient(0deg, rgba(50, 5, 5, 1) 0%, rgba(0, 0, 0, 1) 69%);
}

::-webkit-scrollbar {
    height: 0px;
    width: 6px;
    border: 1px solid #fff;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #5c0000;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #e7e7e7;
  }